service: playground
provider:
  name: aws
  runtime: python3.7
  timeout: 29
  stage: dev
  region: eu-central-1
  memorySize: 128
  iamRoleStatements:
    # - Effect: Allow
    #   Action:
    #     - lambda:InvokeFunction
    #   Resource: "*"
    - Effect: Allow
      Action:
        - s3:CreateBucket
        - s3:ListBucket
        - s3:ListBuckets 
        - s3:ListAllMyBuckets
        - s3:PutObject
      Resource: 
        - "arn:aws:s3:::bucket-of-panda-goo/*" # access all files in this bucket.
        - "arn:aws:s3:::*" # access all bucket names to be able to list them
  environment: 
    # For calling lambdas, we need a full ARN (or at least the service and stage)
    ARN_PREFIX: "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${self:provider.stage}-"
  
    
plugins:
  - serverless-wsgi
  - serverless-python-requirements
  - serverless-dotenv-plugin
# - serverless-offline
  - serverless-pseudo-parameters
custom:
  pythonRequirements:
    useDownloadCache: true   
    useStaticCache: true
  wsgi:
    app: app.app
    packRequirements: false

functions:
     
  app:
    handler: wsgi_handler.handler
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'